.nav{
    background-color: #fff;
    display: grid;
    grid-template-columns: 1fr 1fr;

    width: 600px;
    margin:0 auto 0 auto;
    opacity: 0;

    border-radius: 10px;

    div{
        display: flex;
        align-self: center;
        justify-self: center;
        
        
        &:nth-child(1){
            justify-self: start;
        }
        &:nth-child(2){
            justify-self: end;
        }
        
        a{
            align-self: center;
            cursor: pointer;
            svg{
                padding: 0.5em 1em 0.5em 1em;
            }
        }
        //------------main----------------------
        .main_svg__main{
            &:hover{
                fill:#A3A3A3;
            }
        }
        //--------------------------------------
        //-------------profile------------------
        .profile_svg__profile{
            &:hover{
                fill:#EC5D5D;
            }
        }
        //--------------------------------------
        //--------------send--------------------
        .send_svg__send{
            &:hover{
                fill:#FFB443;
            }
        }
        //--------------------------------------
        //----------------telegram--------------
        .telegram_svg__telegram{
            &:hover{
                fill:#4CCEE0;
            }
        }
        //--------------------------------------
        //----------------facebook--------------
        //--------------------------------------
        //-----------------github---------------
        //--------------------------------------
        //----------------linkedin--------------
        //--------------------------------------
        
    }


    transition: 1s;
}